body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2e3035;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
header{
    width: 100%;
    background: rgb(38, 10, 102);
    color: white;
    padding-bottom: 100px;
}
#navbar-one{  
    display: flex;
    padding: 15px;
    position: sticky;
}
.navbar-left{
    display: flex;
    align-items: center;
    min-width: 360px;
    position: relative;
    display: inline-flex;

}
.navbar-center{
    max-width: 550px;
    margin: auto;
    justify-content: space-around;
    flex: 1;
}
.navbar-rigth{
    min-width: 280px;
    position: relative;
    /* display: inline-flex; */
    justify-content: flex-end;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.f-logo{
    color: white;
}
.Button{
    text-align: center;
    height: 35px;
    display: flex;
    gap: 10px;
    padding: 0 14px 0 9px;
    text-transform: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: auto;
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
    color: #fff;
    min-width: auto;
    margin: auto 20px;
    position: relative;
    text-decoration: none;
    align-items: center;
}

/****** serach bar *****/
.searchbar{
    position: fixed;
    float: right;
    width: 100%;
    max-width: 550px;
    margin: auto;
    top: 15px;
    left: 0;
    right: 0;
    z-index:1000;
}
.searchbar-form{
    width: 100%;
    display: block;
    margin-top: 0em;
}
.searchbar-inputBox{
    background: hsla(0,0%,100%,.25);
    border: 1px solid transparent;
    padding-left: 8px;
    border-radius: 3px;
    width: 100%;
    outline: 0 none;
    opacity: .8;
    min-height: 36px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #fff;
    text-shadow: inherit;
    -webkit-text-fill-color: inherit;
}
.searchbar-submit{
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    color: #fff;
    border: 0;
    outline: 0 none;
    padding: 8px;
    cursor: pointer;
}
/***** navbar rigth*****/
.add-free{
    background: #6432f9;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
    padding: 0 10px 0 9px;
    overflow: hidden;
    margin: auto 0;
    line-height: 35px;
}
.sigin-button{
    margin: auto 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 0 14px 15px rgb(27 28 30 / 31%);
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}
.Sign-up{
    padding: 0 20px;
    margin: 0;
}

/**** message ****/
.message{
    font-size: 24px;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing:0.6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
    font-weight: 800;
}
/********************* Tags *********************/
.tranding-tags{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:20px auto;
    gap: 10px;

}
.tranding-tags-header{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
}
.label-tag{
    height: 100%;
}
.add-tag{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.tranding-tags-Container{
    display: flex;
}
.tag{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: auto 115px;
    background-repeat: repeat-x;
    border-radius: 3px ;
    margin: 6px 6px 0;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;

}
.fst-tag{
    background-image: url("./img//fist-tagimg.jpg");
    height: 130px;
    width: 232px;
}
.tag-title{
   
    padding: 12px  8px;
    border-radius: 3px;
}
.tag-name{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.15;
    letter-spacing: .4px;
}
.tag-posts{
    text-align: center;
    font-size: 11px;
    margin-top: 4px;
    color: hsla(0,0%,100%,.5);
    font-weight: 600;
}

/******************post container *************/
main{
    width: 90%;
    margin: auto;
    position: relative;
    top: -50px;
    z-index: 1;

}
#postContainer{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
  
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.imgCont{
    width: 100%;
    height: 80%;
}
.imgCont>img{
    width: 100%;
    height: 100%;
}
.post-title{
    padding: 12px;
    background-color:#6d6f74 ;
}
.post-title>p{
    margin: 0;
}